language: julia

os:
  - osx
  - linux

julia:
  - 1.0
  - 1.1
  - 1.2
  - 1.3
  - 1.4
  - 1.5
  - nightly

# # Uncomment the following lines to allow failures on nightly julia
# # (tests will run but not make your overall status red)
# matrix:
#   allow_failures:
#   - julia: nightly

notifications:
  email: false

#script: # the default script is equivalent to the following
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("JWTs"); Pkg.test("JWTs"; coverage=true)';

after_success:
  - julia -e 'using Pkg; cd(Pkg.dir("JWTs")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';
#  - julia -e 'using Pkg; cd(Pkg.dir("JWTs")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())';
